<!DOCTYPE HTML>
	<HTML>
		<TITLE>SignOut</TITLE>
		<HEAD>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'  type='text/css'>
			<link rel="stylesheet" href="css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="js/table-draw.js"></script>

			<nav class="navborder navbar navbar-fixed-top navbar-expand-lg bg-white">
	  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a class="nav-link" id = "name" href="/">SignOut</a>
	      </li>


	      <li class="nav-item active">
	        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="https://gionkunz.github.io/chartist-js/">ANALYTICS</a> 
	      </li>

				<li class="nav-item">
	        <a class="nav-link" href="https://www.linkedin.com/in/rohan-kulkarni-579137167">CONTACT</a>
	      </li>

				<li class="nav-item">
	        <a class="nav-link" href="https://getbootstrap.com/">RESOURCES</a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" href="https://devpost.com/software/signout">ABOUT</a>
	      </li>
				<li class="nav-item">
	        <a class="nav-link" href="/login">LOGIN</a>
	      </li>
	    </ul>

	  </div>
	</nav>
			<!-- <link rel="stylesheet" style="text/stylesheet" href="main2.css"> -->
		</HEAD>
  <body class="bg-blue">
    <h1 style="font-size: 64px;" class="left-title title-standard">STUDENT</h1>
    <h1 style="font-size: 64px;" class="left-title title-standard">SAFETY</h1>
    <h1 style="font-size: 64px;" class="left-title title-standard">REIMAGINED.</h1>
		<a id="login-button" href="/login" class="btn left-title padadd" style="color: #42c2f4; font-weight:bold;">LOGIN NOW</a>
	<div class="right-img">
		<img src="/views/012-smartphone.png" style="width:90%; height:90%"></img>
	</div>
  </body>
</HTML>
