<!DOCTYPE HTML>
<HTML>
	<TITLE>SignOut</TITLE>
	<HEAD>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'  type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" href="css/main.css">

		<script src="js/main.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<nav class="navborder navbar navbar-fixed-top navbar-expand-lg bg-white">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->


			<div class="small-navbar" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" id = "name" href="/">SignOut</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- <link rel="stylesheet" style="text/stylesheet" href="main2.css"> -->
	</HEAD>
	<body class="bg-blue">
		<h1 style="font-size: 64px !important; margin-top: 2%; text-align: center;" class="title-standard">LOGIN</h1>
		<div style="margin-top: 2.5%;">
			<div class="form-group" style="display: flex; align-items: center; justify-content:center;">
				<label class="text-standard col-sm-2">Username:</label>
				<div>
					<input class="inputs form-control" id="uname" placeholder="Enter username">
				</div>
			</div>
			<div class="form-group" style="display: flex; align-items: center; justify-content:center;">
				<label class="text-standard col-sm-2">Password:</label>
				<div>
					<input  class="inputs form-control" id="passwd" placeholder="Enter password">
				</div>
			</div>
			<div style="margin-top:-3%; display: flex; align-items: center; justify-content:center;">
				<button id="login-button" class="btn padadd" style="color: #42c2f4; font-weight:bold;">LOGIN NOW</button>
			</div>
		</div>




	</body>
</HTML>
